@import "../../../../assets/styles/variables/colors";

.block-form-container {
  margin-bottom: 20px;
}

.block-user-form {
  &__inputs {
    margin-bottom: 10px;
    width: 670px;
    input {
      border-radius: 5px;
      border: 1px solid var(--color8);
      outline: none;
      padding: 5px;      
      width: 200px;
    }
    input:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.table {
  width: 770px;
}