<div>
  <!-- loading spinner -->
  <div>
    <input type="text" [(ngModel)]="searchParams" placeholder="Search by email or display name...">
    <table>
      <tr>
        <th>Email Address</th>
        <th>Display Name</th>
        <th>Reset Password</th>
        <th>Roles</th>
        <th>Domains</th>
        <th>Activity</th>
        <th>Login History</th>
      </tr>
      <tr *ngFor="let user of users | searchPipe: searchParams; let ui = index">
        <td>
          {{ user.email }}
        </td>
        <td>
          <div *ngIf="currentDisplayNameId !== user.uid">
            <p>{{ user.name }}</p>
            <button 
              (click)="enableEditDisplayNameMode(user)" 
              type="button">
                Edit
            </button>
          </div>
          <div *ngIf="editDIsplayNameMode && currentDisplayNameId == user.uid">
            <form [formGroup]="changeDisplayNameForm" (ngSubmit)="editDisplayName(changeDisplayNameForm)">
              <div>
                <input type="name" formControlName="name" placeholder="Enter display name...">
              </div>
              <div>
                <button 
                  [disabled]="changeDisplayNameForm.invalid"
                  type="submit">
                    Submit
                </button>
                <button type="button" (click)="resetDisplayNameFormFun()">Cancel</button>
              </div>
            </form>
          </div>
        </td>
        <td>
          <button 
            type="button"
            [disabled]="disabledResetPasswordButton && currentResetEmail == user.email" 
            (click)="resetPassword(user.email)">
              Reset Password
          </button>
        </td>
        <td>
          <div>
            <div>
              <label *ngFor="let role of user.roles; let i = index">           
                <input 
                  [disabled]="currentRolesUser?.uid !== user.uid"
                  type="checkbox" 
                  [value]="role.value" 
                  [attr.checked]="role.checked ? 'checked' : null"
                  [attr.name]="role.name"
                  [attr.data-route]="role.route"              
                  [attr.data-checked]="role.checked"
                  (change)="onRoleChange($event, i)">
                {{ role.name }}
              </label>    
            </div>
            <div>
              <button 
                type="button" 
                (click)="enableChangeRolesMode(user)">
                  Edit
              </button>
              <button 
                *ngIf="!changeRolesMode && currentRolesUser?.uid == user.id"
                type="button"
                (click)="submitRoles()">
                  Submit
              </button>
            </div>
          </div>
        </td>
        <td>
          <div>
            <label *ngFor="let userDomain of user.domains; let i = index">
              <input
              type="checkbox"
                [disabled]="currentDomainUser?.uid !== user.uid"
                [checked]="userDomain.checked ? 'checked' : null"
                [value]="userDomain.key"
                (change)="onDomainChange($event, i)">
              {{ userDomain.description }}
            </label>
          </div>
          <div>
            <button 
              type="button" 
              (click)="enableChangeDomainMode(user)">
                Edit
            </button>
            <button 
              type="button"
              *ngIf="currentDomainUser && currentDomainUser?.uid == user.id"
              (click)="submitDomain()">
                Submit
            </button>
          </div>
        </td>
        <td>
          <button 
            type="button" 
            *ngIf="!user.active" 
            (click)="changeAccountActivity(user.uid, true)">
              Activate
          </button>
          <button 
            type="button" 
            *ngIf="user.active" 
            (click)="changeAccountActivity(user.uid, false)">
              Deactivate
          </button>
        </td>
        <td>
          <button type="button" (click)="getUserLogins(user.uid)">Login History</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="resetPasswordPopUp">
    <p>
      Reset password email was successfully sent to {{currentResetEmail}}!
    </p>
    <button type="button" (click)="closeResetPasswordPopUp()">Close</button>
  </div>

  <div *ngIf="loginHistory">
    <button (click)="closeLogins()">Close</button>
    <table>
      <tr>
        <th>Time</th>
        <th>IP</th>
        <th>Country</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let login of loginHistory[0].loginHistory">
        <td>{{ login.date.toDate() | date:'dd.MM.yyyy' }} at {{ login.date.toDate() | date:'HH:mm' }}</td>
        <td>{{ login.ip }}</td>
        <td>{{ login.country }}</td>
        <td>{{ login.city }}</td>
      </tr>
    </table>
  </div>
</div>


<!-- <script>(function(){var pp=document.createElement('script'), ppr=document.getElementsByTagName('script')[0]; stid='dGdWRW1odUwyekJ1dkI0ZEUxOUJsUT09';pp.type='text/javascript'; pp.async=true; pp.src=('https:' == document.location.protocol ? 'https://' : 'http://') + 's01.live2support.com/dashboardv2/chatwindow/'; ppr.parentNode.insertBefore(pp, ppr);})();</script> -->