<div class="users-container">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div *ngIf="users?.length! > 0">
    <div class="search-field">
      <div class="search-field__icon"></div>
      <input class="search-field__input" type="text" [(ngModel)]="searchParams" placeholder="Search by email or display name...">
    </div>
    <table class="table">
      <tr>
        <th></th>
        <th>Email Address</th>
        <th>Display Name</th>
        <th>Roles</th>
        <th>Domains</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users | searchPipe: searchParams; let ui = index">
        <td>
          <button class="btn-default narrow-btn" type="button" (click)="editUser(user)">Edit</button>
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          <label *ngFor="let role of user.roles">           
            <input 
              disabled
              type="checkbox"
              [attr.checked]="role.checked ? 'checked' : null">
            {{ role.name }}
          </label>
        </td>
        <td>
          <div>
            <label *ngFor="let userDomain of user.domains">
              <input
                type="checkbox"
                disabled
                [checked]="userDomain.checked ? 'checked' : null">
              {{ userDomain.description }}
            </label>
          </div>
        </td>
        <td>
          <button 
            class="btn-default narrow-btn"
            type="button"
            [disabled]="disabledResetPasswordButton && currentResetEmail == user.email" 
            (click)="resetPassword(user.email)">
              Reset Password
          </button>
        </td>
        <td>
          <button
            class="btn-default narrow-btn"
            type="button" 
            *ngIf="!user.active" 
            (click)="changeAccountActivity(user.uid, true)">
              Activate
          </button>
          <button
          class="btn-default narrow-btn"
            type="button" 
            *ngIf="user.active" 
            (click)="changeAccountActivity(user.uid, false)">
              Deactivate
          </button>
        </td>
        <td>
          <button class="btn-default narrow-btn" type="button" (click)="getUserLogins(user.uid)">Login History</button>
        </td>
      </tr>
    </table>
  </div>

  <p *ngIf="users?.length == 0">
    Тhere are currently no users added.
  </p>

  <div class="fixed-pop-up-container" *ngIf="resetPasswordPopUp">
    <div class="pop-up-body">
      <p>
        Reset password email was successfully sent to <span style="font-weight: bold;">{{currentResetEmail}}</span>!
      </p>
      <div class="pop-up-buttons">
        <button class="btn-default narrow-btn" type="button" (click)="closeResetPasswordPopUp()">Close</button>
      </div>
    </div>
  </div>

  <div *ngIf="loginHistory">
    <button (click)="closeLogins()">Close</button>
    <table>
      <tr>
        <th>Time</th>
        <th>IP</th>
        <th>Country</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let login of loginHistory[0].loginHistory">
        <td>{{ login.date.toDate() | date:'dd.MM.yyyy' }} at {{ login.date.toDate() | date:'HH:mm' }}</td>
        <td>{{ login.ip }}</td>
        <td>{{ login.country }}</td>
        <td>{{ login.city }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="currentUser">
    <form [formGroup]="editUserForm" (ngSubmit)="submitEditUserForm()">
      <div>
        <label for="name">Display name</label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label *ngFor="let role of currentUser.roles; let i = index">
          {{ role.name }}
          <input 
            type="checkbox"
            [checked]="role.checked ? 'checked' : null"
            (change)="onRoleChange($event, i)">
        </label>
      </div>
      <div>
        <label *ngFor="let domain of currentUser.domains; let i = index">
          {{ domain.description }}
          <input 
            type="checkbox"
            [checked]="domain.checked ? 'checked' : null"
            (change)="onDomainChange($event, i)">
        </label>
      </div>
      <div>
        <button type="submit">Apply</button>
        <button type="button" (click)="resetEditUserForm()">Cancel</button>
      </div>
    </form>
  </div>

  <ul class="error">
    <li *ngIf="errorOnSetUserData">{{ errorOnSetUserData }}</li>
    <li *ngIf="errorOnGetUserLogins">{{ errorOnGetUserLogins }}</li>
    <li *ngIf="errorOnUpdateUserActivity">{{ errorOnUpdateUserActivity }}</li>
    <li *ngIf="errorMsgOnResetPassword">{{ errorMsgOnResetPassword }}</li>
  </ul>
</div>