<div>
  <!-- loading spinner -->
  <div>
    <input type="text" [(ngModel)]="searchParams" placeholder="Search by email or display name...">
    <table>
      <tr>
        <th>Display Name</th>
        <th>Email Address</th>
        <th>Reset Password</th>
        <th>Roles</th>
        <th>Activity</th>
        <th>Login History</th>
      </tr>
      <tr *ngFor="let user of users | searchPipe: searchParams; let ui = index">
        <td>
          <div *ngIf="currentDisplayNameId !== user.uid">
            <p>{{ user.name }}</p>
            <button 
              (click)="enableEditDisplayNameMode(user)" 
              type="button">
                Edit
            </button>
          </div>
          <div *ngIf="editDIsplayNameMode && currentDisplayNameId == user.uid">
            <form [formGroup]="ChangeDisplayNameForm" (ngSubmit)="editDisplayName(ChangeDisplayNameForm)">
              <div>
                <input type="name" formControlName="name" placeholder="Enter display name...">
              </div>
              <div>
                <button 
                  [disabled]="ChangeDisplayNameForm.invalid"
                  type="submit">
                    Submit
                </button>
                <button type="button" (click)="resetDisplayNameFormFun()">Cancel</button>
              </div>
            </form>
          </div>
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          <button 
            type="button"
            [disabled]="disabledResetPasswordButton && currentResetEmail == user.email" 
            (click)="resetPassword(user.email)">
              Reset Password
          </button>
        </td>
        <td>
          <div>
            <div>
              <label *ngFor="let role of user.roles; let i = index">           
                <input 
                  [disabled]="currentRolesId !== user.uid"
                  type="checkbox" 
                  [value]="role.value" 
                  [attr.checked]="role.checked ? 'checked' : null"
                  [attr.name]="role.name"
                  [attr.data-route]="role.route"              
                  [attr.data-checked]="role.checked"
                  (change)="onRoleChange($event, i, ui)">
                {{ role.name }}
              </label>    
            </div>
            <div>
              <button 
                type="button" 
                (click)="enableChangeRolesMode(user)">
                  Edit
              </button>
              <button 
                *ngIf="!changeRolesMode && currentRolesId == user.id"
                type="button"
                (click)="submitRoles()">
                  Submit
              </button>
              <button 
                *ngIf="!changeRolesMode && currentRolesId == user.uid"
                type="button"
                (click)="cancelChangeRolesMode(ui)">
                  Cancel
              </button>
            </div>
          </div>
        </td>
        <td>
          <button 
            type="button" 
            *ngIf="!user.active" 
            (click)="changeAccountActivity(user.uid, true)">
              Activate
          </button>
          <button 
            type="button" 
            *ngIf="user.active" 
            (click)="changeAccountActivity(user.uid, false)">
              Deactivate
          </button>
        </td>
        <td>
          <button type="button">Last 10 logins</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="resetPasswordPopUp">
    <p>
      Reset password email was successfully sent to {{currentResetEmail}}!
    </p>
    <button type="button" (click)="closeResetPasswordPopUp()">Close</button>
  </div>
</div>