@import "../../../../../assets/styles/variables/colors";
@import "../../../../../assets/styles/mixins/shortand";
@import "../../../../../assets/styles/shared/sign-forms";

.users-container {
  position: relative;
}

.search-field {
  margin: 20px 0;
  width: 400px;
  display: flex;
  &__icon {
    width: 31px;
    height: 31px;
    background-color: $yellow;
    background-image: url("../../../../../assets/images/icons/search-icon.png");
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__input {
    border: 1px solid var(--color8);
    outline: none;
    padding: 5px;
    font-size: 1.1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% - 31px);
  }
}

.login-history {
  width: 50%;
  height: 500px;
  overflow: scroll;
  @include scrollbar(normal);
  &__close-btn {
    text-align: right;
  }
}

.edit-user-form {
  width: 500px;
  border: none;
  text-align: left;
}

.table {
  width: 100%;
  &__option {
    display: flex;
    align-items: center;
    & > div:not(:last-child) {
      margin-right: 15px;
    }    
  }
}