@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/mixins/shortand";

.chats {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 48px);
  &__pending {
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--color8);
    &__container {
      height: calc(100% - 30px);
      overflow: scroll;
      @include scrollbar(normal);
      &__pending-chat {
        height: 300px;
        overflow: scroll;
        @include scrollbar(normal);
        &__domain {
          @extend .chats__title;
          background-color: lighten($yellow, 40%);
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .client-info {
          display: inline-block;
          width: 53px;
        }
      }
    }
  }
  &__chats {
    width: calc(100% - 250px);
    position: relative;
    height: 100%;
    overflow: scroll;
    @include scrollbar(normal);
    &__content {
      position: absolute;
      display: flex;
      top: 29px;
      left: 260px;
      width: calc(100% - 260px);
      &__chat-history {
        width: 700px;
      }
      &__clint-info-container {
        width: 100%;
        min-width: 220px;
        &__clint-info {
          padding: 5px 0 5px 10px;
          span {
            display: inline-block;
            width: 64px;
          }
          button {
            min-width: 100px;
          }
          textarea {
            @include default-textarea;
          }
        }
      }
    }
    &__nav {
      width: 250px;
      &__chat-info {
        padding: 5px;
        cursor: pointer;
        span {
          display: inline-block;
          width: 56px;
        }
      }
      .active-chat {
        background-color: $yellow;
        color: $white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid var(--color8);
  }
}