<div class="chats">
  <div class="chats__pending">
    <p class="chats__title">Pending chats</p>
    <div class="chats__pending__container">
      <div 
         
        *ngFor="let domainEl of activeChats">
        <div>
          <p 
            class="chats__pending__container__pending-chat__domain">
              {{ domainEl.domainDescription }}
          </p>
        </div>
        <div class="chats__pending__container__pending-chat">
          <div *ngFor="let chat of domainEl.chats">
            <div *ngIf="chat.status == 'pending'">
              <p><span class="client-info">user: </span>{{ chat.username }}</p>
              <p><span class="client-info">option: </span>{{ chat.option }}</p>
              <div>
                <button 
                  class="btn-default narrow-btn" 
                  type="button"
                  style="margin: 5px 0 15px 0;"
                  (click)="acceptChat(chat)">
                    Accept
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="chats__chats">
    <p class="chats__title">Chats</p>
    <div>
      <div *ngFor="let domainEl of activeChats">
        <div *ngFor="let chat of domainEl.chats">
          <div             
            class="chats__chats__nav" 
            *ngIf="chat.status == 'active' && chat.operatorEmail == user?.email">
            <div [ngClass]="{'active-chat' : chat.id == activeChat}" class="chats__chats__nav__chat-info" (click)="setActiveChat(chat.id)">
              <p><span>user:</span> {{ chat.username }}</p>
              <p><span>option:</span> {{ chat.option }}</p>
              <p><span>domain:</span> {{ chat.domain }}</p>
            </div>
            <div class="chats__chats__content" *ngIf="chat.id == activeChat">
              <div>
                <div class="chats__chats__content__chat-history">
                  <app-chat-form 
                    [chatHistory]="chat.chatHistory" 
                    [userInfo]="{chatId: chat.id, domain: chat.domain, operator: chat.operatorDisplayName}">
                  </app-chat-form>
                </div>
              </div>
              <div class="chats__chats__content__clint-info-container">
                <p class="chats__title">Client's info</p>
                <div class="chats__chats__content__clint-info-container__clint-info">
                  <p><span>IP: </span>{{ chat.clientInformation[0].ip }}</p>
                  <p><span>City: </span>{{ chat.clientInformation[0].city }}</p>
                  <p><span>Country: </span>{{ chat.clientInformation[0].country }}</p>
                  <div>
                    <button 
                      class="btn-default narrow-btn"
                      style="margin: 10px 0;" 
                      type="button" 
                      (click)="enableBlockOptio()" 
                      *ngIf="!isBlockOptionActive">
                        Block client
                    </button>
                    <form
                      *ngIf="isBlockOptionActive"
                      [formGroup]="blockForm" 
                      (ngSubmit)="submitBlockForm(chat, blockForm)"
                      style="margin: 10px 0;">
                      <textarea formControlName="reason" placeholder="Blocking reason..."></textarea>
                      <div>
                        <button 
                          class="btn-default narrow-btn" 
                          style="margin-right: 10px;" 
                          type="submit" 
                          [disabled]="blockForm.invalid">
                            Block
                        </button>
                        <button 
                          class="btn-default narrow-btn" 
                          type="button" 
                          (click)="cancelBLokcOption()">
                            Close
                        </button>
                      </div>
                    </form>                   
                  </div>
                  <div>
                    <button 
                      class="btn-default narrow-btn" 
                      *ngIf="!isCloseChatPopUpAcive" 
                      type="button" 
                      (click)="enableChatPopUp()">
                        Close Chat
                    </button>
                    <div class="fixed-pop-up-container" *ngIf="isCloseChatPopUpAcive">
                      <div class="pop-up-body">
                        <p>Аre you sure you want to close this chat?</p>
                        <div class="pop-up-buttons">
                          <button 
                            class="btn-default narrow-btn" 
                            style="margin-right: 10px;"  
                            (click)="closeChat(chat)">
                              Yes
                          </button>
                          <button 
                            class="btn-default narrow-btn" 
                            (click)="disableCloseChatOption()">
                              No
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="error">
      <li *ngIf="errorOnaAcceptChat">{{ errorOnaAcceptChat }}</li>
      <li *ngIf="errorOnBlockUser">{{ errorOnBlockUser }}</li>
      <li *ngIf="errorOnGetChats">{{ errorOnGetChats }}</li>
      <li *ngIf="errorOnAddChat">{{ errorOnAddChat }}</li>
      <li *ngIf="errorOnDeleteChat">{{ errorOnDeleteChat }}</li>
    </ul>
  </div>
</div>