<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form class="sign-form change-password-form" [formGroup]="changePasswordFrom" (ngSubmit)="changePassword(changePasswordFrom)">
    <div class="sign-form__sign-element">
      <label for="password">Password</label>
      <div class="password">
        <div class="password-img"></div>
        <input type="password" name="password" formControlName="password">
      </div>
      <ul class="error">
        <li *ngIf="
        !changePasswordFrom.get('password')!.valid &&
        !changePasswordFrom.get('password')!.hasError('maxlength') &&
        !changePasswordFrom.get('password')!.hasError('minlength') &&
        changePasswordFrom.get('password')!.touched">
          Please enter a passowrd!
        </li>
        <li *ngIf="
        changePasswordFrom.get('password')!.hasError('maxlength') &&
        changePasswordFrom.get('password')!.touched">
          The password could not be longer then 20 symbols!
        </li>
        <li *ngIf="
        changePasswordFrom.get('password')!.hasError('minlength') &&
        changePasswordFrom.get('password')!.touched">
          The password should be at least 8 symbols!
        </li>
      </ul>
    </div>

    <div class="sign-form__sign-element">
      <label for="confirmPass">Confirm Password</label>
      <div class="password">
        <div class="password-img"></div>
        <input type="password" name="confirmPass" formControlName="confirmPass"
          [ngClass]="{'invalid': !changePasswordFrom.get('confirmPass')!.valid && changePasswordFrom.get('confirmPass')!.dirty}">
      </div>
      <ul class="error">
        <li *ngIf="
        !changePasswordFrom.get('confirmPass')!.valid && 
        changePasswordFrom.get('confirmPass')!.dirty">
          The passwords do not match!
        </li>
      </ul>
    </div>

    <div>
      <button class="btn-default narrow-btn" type="submit" [disabled]="changePasswordFrom.invalid">Change Password</button>
    </div>
  </form>

  <div class="fixed-pop-up-container" *ngIf="changePasswordPopUp">
    <div class="pop-up-body">
      <p>Your password has been successfully changed!</p>
      <div class="pop-up-buttons">
        <button class="btn-default narrow-btn" type="button" (click)="closePasswordChangePopUp()">Close</button>
      </div>
    </div>
  </div>

  <div class="fixed-pop-up-container" *ngIf="changePasswordLogoutPopUp">
    <div class="pop-up-body">
      <p>{{ errorOnChangePassword }}</p>
      <div class="pop-up-buttons">
        <button style="margin-right: 10px;" class="btn-default narrow-btn" (click)="logout()">Logout</button>
        <button class="btn-default narrow-btn" (click)="stayLogged()">Change later</button>
      </div>
    </div>
  </div>
</div>