<div>
  <form [formGroup]="changePasswordFrom" (ngSubmit)="changePassword(changePasswordFrom)">
    <div class="sign-form__sign-element">
      <label for="password">Password</label>
      <div class="password">
        <div class="password-img"></div>
        <input type="password" name="password" formControlName="password">
      </div>
      <ul class="sign-error">
        <li *ngIf="
        !changePasswordFrom.get('password')!.valid &&
        !changePasswordFrom.get('password')!.hasError('maxlength') &&
        !changePasswordFrom.get('password')!.hasError('minlength') &&
        changePasswordFrom.get('password')!.touched">
          Please enter a passowrd!
        </li>
        <li *ngIf="
        changePasswordFrom.get('password')!.hasError('maxlength') &&
        changePasswordFrom.get('password')!.touched">
          The password could not be longer then 30 symbols!
        </li>
        <li *ngIf="
        changePasswordFrom.get('password')!.hasError('minlength') &&
        changePasswordFrom.get('password')!.touched">
          The password should be at least 8 symbols!
        </li>
      </ul>
    </div>

    <div class="sign-form__sign-element">
      <label for="confirmPass">Confirm Password</label>
      <div class="password">
        <div class="password-img"></div>
        <input type="password" name="confirmPass" formControlName="confirmPass"
          [ngClass]="{'invalid': !changePasswordFrom.get('confirmPass')!.valid && changePasswordFrom.get('confirmPass')!.dirty}">
      </div>
      <ul class="sign-error">
        <li *ngIf="
        !changePasswordFrom.get('confirmPass')!.valid && 
        changePasswordFrom.get('confirmPass')!.dirty">
          The passwords do not match!
        </li>
      </ul>
    </div>

    <div>
      <button type="submit" [disabled]="changePasswordFrom.invalid">Change Password</button>
    </div>
  </form>
  <div *ngIf="changePasswordPopUp">
    <p>Your password has been successfully changed!</p>
    <button type="button" (click)="closePasswordChangePopUp()">Close</button>
  </div>
  <div *ngIf="changePasswordLogoutPopUp">
    <p>{{ changePasswordMsg }}</p>
    <div>
      <button (click)="logout()">Logout</button>
      <button (click)="stayLogged()">Change later</button>
    </div>
  </div>
</div>