@import "../../../../../assets/styles/mixins/shortand";
@import "../../../../../assets/styles/variables/colors";
@import "../../../../../assets/styles/shared/sign-forms";

.change-password-form {
  width: 30%;
  border: none;
  margin: 0;
  padding: 0;
}