@import "../../../../assets/styles/variables/colors";

.users-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color8);
  margin-bottom: 5px;
  li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }
  .users-link-active {
    background-color: $yellow;
    color: $white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}