<div *ngIf="isBlocked != undefined && isBlocked != true">
  <form 
    [formGroup]="startChatForm" 
    (ngSubmit)="submitStartChatForm(startChatForm)"
    *ngIf="currentChat[0]?.status !== 'pending' && currentChat[0]?.status !== 'active'">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" formControlName="username">
    </div>
    <div>
      <mat-form-field>
      <mat-select formControlName="option">
        <mat-option *ngFor="let option of menuOptions" [value]="option.key">
          <div style="display: flex;">
            <div>
              <img width="20px" [src]="option.img">
            </div>
            <div>
              <p>{{ option.description }}</p>
            </div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
      <button type="submit" [disabled]="startChatForm.invalid">Start chat</button>
    </div>
  </form>

  <div *ngIf="currentChat.length > 0 && currentChat[0].status == 'pending'">
    Your chat will be accepted soon!
  </div>

  <div *ngIf="currentChat.length > 0 && currentChat[0].status == 'active'">
    <div>
      <app-chat-form-history [chatHistory]="currentChat[0].chatHistory"></app-chat-form-history>
    </div>
    <div>
      <app-chat-form [userInfo]="{nick: clientUsername, chatId: clientChatId, domain: clientChatDomain}"></app-chat-form>
    </div>
  </div>
</div>

<div *ngIf="isBlocked != undefined && isBlocked != false">
  Block acc msg
</div>