<div class="client-chat">
  <div class="client-chat__header">
    <p style="font-size: 20px; font-weight: bold; line-height: 80px;">LOGO</p>
  </div>
  <div 
    class="client-chat__form"
    *ngIf="isBlocked != undefined && isBlocked != true">
    <form 
      class="sign-form"
      [formGroup]="startChatForm" 
      (ngSubmit)="submitStartChatForm(startChatForm)"
      *ngIf="currentChat[0]?.status !== 'pending' && currentChat[0]?.status !== 'active'">

      <div class="sign-form__sign-element">
        <label for="username">Username</label>
        <div class="name">
          <div class="name-img"></div>
          <input type="text" name="username" formControlName="username" placeholder="Leave blank if you don't have...">
        </div>
      </div>

      <div class="client-chat__form__select">
        <mat-form-field>
          <mat-select formControlName="option">
            <mat-option *ngFor="let option of menuOptions" [value]="option.key">
              <div>
                <p>{{ option.description }}</p>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button 
          class="btn-default" 
          style="margin-top: 20px;"
          type="submit" 
          [disabled]="startChatForm.invalid">
            Start chat
        </button>
      </div>
    </form>
  
    <div *ngIf="currentChat.length > 0 && currentChat[0].status == 'pending'">
      Your chat will be accepted soon!
    </div>
  
    <div *ngIf="currentChat.length > 0 && currentChat[0].status == 'active'">
      <div class="chat-history">
        <app-chat-form-history [chatHistory]="currentChat[0].chatHistory"></app-chat-form-history>
      </div>
      <div>
        <app-chat-form [userInfo]="{chatId: clientChatId, domain: clientChatDomain, client: clientUsername}"></app-chat-form>
      </div>
    </div>
  </div>
  
  <div *ngIf="isBlocked != undefined && isBlocked != false">
    Block acc msg
  </div>

  <ul class="error">
    <li *ngIf="errorOnGetActiveMenuOptions">{{ errorOnGetActiveMenuOptions }}</li>
    <li *ngIf="erroOnGetDomains">{{ erroOnGetDomains }}</li>
    <li *ngIf="errorOnGetChat">{{ errorOnGetChat }}</li>
    <li *ngIf="errorOnAddChat">{{ errorOnAddChat }}</li>
    <li *ngIf="errorOnGetBlockedUsers">{{ errorOnGetBlockedUsers }}</li>
    <li *ngIf="errorOnGetClientInfo">{{ errorOnGetClientInfo }}</li>
  </ul>
</div>