@import "../../../assets/styles/mixins/shortand";
@import "../../../assets/styles/variables/colors";

.chat-history {
  height: calc(100vh - 200px);
  border: 1px solid var(--color8);
  margin-bottom: 10px;
  padding: 3px 3px 0 3px;
  overflow: scroll;
  @include scrollbar(normal);
  &__buble-container {
    &__buble {
      border-radius: 10px;
      border: 1px solid var(--color8);
      padding: 5px;
      min-width: 40%;
      max-width: 70%;
      float:  left;
      clear: left;
      margin-bottom: 5px;
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}