@import '/src/assets/styles/mixins/hovers';
@import '/src/assets/styles/variables/colors';

@mixin inputNoArrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

@mixin signFormBackround {
  background-color: $yellow;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 50px;
  border-radius: 3px 0 0 3px;
  padding: 7px;
  box-sizing: border-box;
}

@mixin btn {
  cursor: pointer;
  border: 1px solid $gray;
  outline: none;
  user-select: none;
  padding: 10px;
  border-radius: 3px;
}

@mixin scrollbar($scrollbar) {
  // -webkit-
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color14);
    @include hover(normal) {
      background-color: var(--color16);
    }
  }
  @if $scrollbar==normal {
    &::-webkit-scrollbar:vertical {
      width: 8px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: transparent;
    }
  } @else if $scrollbar==body {
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: var(--color15);
    }
  }
  // -moz-
  scrollbar-color: var(--color14) transparent;
  scrollbar-width: thin;
}

@mixin placeholderColor($color) {
  &::placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin default-textarea {
  outline-color: $yellow;
  background-color: var(--color12);
  border: 1px solid var(--color9);
  border-radius: 3px;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  color: var(--color7);
  @include placeholderColor($red);
  @include scrollbar(normal);
}
