.sign-form {
  background-color: var(--color2);  
  max-width: 767px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  >* {
    display: block;
  }
  &__sign-up-header {
    h2 {
      color: $yellow;
      text-align: center;
      font-size: 1.3em;
      padding: 5px;
    }
  }
  &__sign-element {
    font-size: 1.1em;
    margin: 20px 0;
    .name, .email, .password {
      display: flex;
    }
    .name {
      .name-img {
        @include signFormBackround;
        background-image: url("../../images/sign-forms/user.png");
      }
    }
    .email {
      .email-img {
        @include signFormBackround;
        background-image: url("../../images/sign-forms/email.png");
        padding: 10px;
      }
    }
    .password {
      .password-img {
        @include signFormBackround;
        background-image: url("../../images/sign-forms/password.png");
      }
    }
    input {
      width: calc(100% - 50px);
      border: 1px solid var(--color8);
      color: var(--color7);
      border-radius: 0 3px 3px 0;
      box-sizing: border-box;
      padding: 7px;
      font-size: 1.1em;
      outline: none;
      background-color: rgba($white, 0.5);
      filter: none;
      &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border: 1px solid var(--color8);
        -webkit-text-fill-color: var(--color7);
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    label {
      width: 100%;
      color: var(--color7);
    }
  }
  .hr-border {
    border-top: 1px solid var(--color9);
    border-bottom: 1px solid var(--color5);
    margin: 10px 0 20px 0;
  }
}

.sign-form {
  border: 1px solid var(--color8);
  border-radius: 5px;
  &__sign-element {
    &__option-containter {
      &__option {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @include hover(normal) {
          background-color: lighten($yellow, 40%);
        }
      }
    }
  }
  .options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .options > div {
    width: 49%;
  }
}