.domain-form {
  margin-bottom: 10px;
  &__inputs {
    width: 440px;
    input {
      border-radius: 5px;
      border: 1px solid var(--color8);
      outline: none;
      padding: 5px;      
      width: 200px;
    }
    input:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__buttons {
    margin-top: 10px;
    button {
      width: 65px !important;
    }
  }
}