<div>
  <div>Strict Mode</div>

  <div>
    <button>Add domain</button>

    <form [formGroup]="addDomainForm" (ngSubmit)="submitDomainForm(addDomainForm)">
      <div>
        <input type="text" formControlName="domain" placeholder="Domain...">
        <input type="text" formControlName="description" placeholder="Description...">
      </div>
      <div>
        <button type="submit" [disabled]="addDomainForm.invalid">Add</button>
      </div>
    </form>
  </div>

  <div>
    <table>
      <tr>
        <th>Domain</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let domain of domains">
        <td>{{ domain.domain }}</td>
        <td>{{ domain.description }}</td>
        <td>
          <button (click)="deleteDomainPopUpFun(domain)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="deleteDomainPopUp">
    <p>Аre you sure you want to delete domain {{ currentDomain.description }}?</p>
    <div>
      <button (click)="deleteDomain()">Yes</button>
      <button (click)="cancelPopUpFun()">No</button>
    </div>
  </div>
</div>