<div>
  <div>
    <button 
      style="margin-bottom: 10px;" 
      type="button" 
      class="btn-default narrow-btn" 
      (click)="onShowDomainForm()">
        Add domain
    </button>

    <form 
      style="margin-bottom: 10px;"
      *ngIf="showDomainForm" 
      [formGroup]="addDomainForm" 
      (ngSubmit)="submitDomainForm(addDomainForm)">
        <div>
          <input type="text" formControlName="domain" placeholder="Link parameter...">
          <input type="text" formControlName="description" placeholder="Description...">
        </div>
        <div>
          <button type="submit" [disabled]="addDomainForm.invalid">Add</button>
          <button type="button" (click)="onResetDomainForm()">Cancel</button>
        </div>
    </form>
  </div>

  <div>
    <table>
      <tr>
        <th>Link parameter</th>
        <th>Description</th>
        <th></th>
      </tr>
      <tr *ngFor="let domain of domains">
        <td>{{ domain.domain }}</td>
        <td>{{ domain.description }}</td>
        <td>
          <button (click)="deleteDomainPopUpFun(domain)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="deleteDomainPopUp">
    <p>Аre you sure you want to delete domain {{ currentDomain.description }}?</p>
    <div>
      <button (click)="deleteDomain()">Yes</button>
      <button (click)="cancelPopUpFun()">No</button>
    </div>
  </div>

  <ul class="error">
    <li *ngIf="errorOnGetUsers">{{ errorOnGetUsers }}</li>
    <li *ngIf="errorOnGetDomains">{{ errorOnGetDomains }}</li>
    <li *ngIf="errorOnAddDomain">{{ errorOnAddDomain }}</li>
    <li *ngIf="errorOnSetDomain">{{ errorOnSetDomain }}</li>
    <li *ngIf="errorOnDeleteDomain">{{ errorOnDeleteDomain }}</li>
    <li *ngIf="errorOnDeleteDomainItem">{{ errorOnDeleteDomainItem }}</li>
  </ul>
</div>