<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div>
    <button
      *ngIf="!showDomainForm"
      style="margin-bottom: 10px;" 
      type="button" 
      class="btn-default narrow-btn" 
      (click)="onShowDomainForm()">
        Add domain
    </button>

    <form 
      class="domain-form"
      *ngIf="showDomainForm" 
      [formGroup]="addDomainForm" 
      (ngSubmit)="submitDomainForm(addDomainForm)">
        <div class="domain-form__inputs">
          <input type="text" formControlName="domain" placeholder="Link parameter...">
          <input type="text" formControlName="description" placeholder="Description...">
        </div>
        <ul class="error">
          <li *ngIf="addDomainForm.get('domain')!.hasError('pattern')">Аllowed characters: a-z</li>
        </ul>
        <div class="domain-form__buttons">
          <button style="margin-right: 10px;" class="btn-default narrow-btn" type="submit" [disabled]="addDomainForm.invalid">Add</button>
          <button class="btn-default narrow-btn" type="button" (click)="onResetDomainForm()">Cancel</button>
        </div>
    </form>
  </div>

  <div>
    <table class="table">
      <tr>
        <th>Link parameter</th>
        <th>Description</th>
        <th></th>
      </tr>
      <tr *ngFor="let domain of domains">
        <td>{{ domain.domain }}</td>
        <td>{{ domain.description }}</td>
        <td>
          <button class="btn-default narrow-btn" (click)="deleteDomainPopUpFun(domain)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="fixed-pop-up-container" *ngIf="deleteDomainPopUp">
    <div class="pop-up-body">
      <p>Аre you sure you want to delete domain {{ currentDomain.description }}?</p>
      <div class="pop-up-buttons">
        <button class="btn-default narrow-btn" style="margin-right: 10px;" (click)="deleteDomain()">Yes</button>
        <button class="btn-default narrow-btn" (click)="cancelPopUpFun()">No</button>
      </div>
    </div>
  </div>

  <ul class="error">
    <li *ngIf="errorOnGetUsers">{{ errorOnGetUsers }}</li>
    <li *ngIf="errorOnGetDomains">{{ errorOnGetDomains }}</li>
    <li *ngIf="errorOnAddDomain">{{ errorOnAddDomain }}</li>
    <li *ngIf="errorOnSetDomain">{{ errorOnSetDomain }}</li>
    <li *ngIf="errorOnDeleteDomain">{{ errorOnDeleteDomain }}</li>
    <li *ngIf="errorOnDeleteDomainItem">{{ errorOnDeleteDomainItem }}</li>
  </ul>
</div>