@import '../../../assets/styles/variables/colors';

.header-nav {
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;  
  border-bottom: 1px solid var(--color8);
  margin-bottom: 5px;
  &__links {    
    display: flex;
    align-items: center;
    li {
      padding: 10px;
      list-style: none;
      margin-right: 10px;
      cursor: pointer;
      font-size: 1.2rem;      
    }
    .header-router-link-active {
      background-color: $yellow;
      color: $white;
    }
  }
  &__logout-btn {
    font-size: 1.2rem;
  }
}