<div class="container">
  <div class="settings">
    <div class="settings__nav">
      <ul>
        <li
          (click)="setActiveRoute(role.route)"
          *ngFor="let role of user?.roles" 
          [routerLink]="[role.route]" 
          routerLinkActive="settings-link-active">
            <p *ngIf="role.checked">
              {{role.name}}
            </p>
        </li>
      </ul>    
    </div>
    <div class="settings__options">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>