<ul>
  <li [routerLink]="['users']" routerLinkActive="router-link-active" >Users</li>
  <li [routerLink]="['register']" routerLinkActive="router-link-active" >Register</li>
  <li [routerLink]="['blocked-clients']" routerLinkActive="router-link-active" >Blocked Clients</li>
  <li [routerLink]="['account-settings']" routerLinkActive="router-link-active" >Account Settings</li>
  <li [routerLink]="['allowed-domains']" routerLinkActive="router-link-active" >Allowed Domains</li>
</ul>
<router-outlet></router-outlet>