<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <button
    style="margin-bottom: 10px;"
    class="btn-default narrow-btn"
    *ngIf="!ismenuOptionsFormActive" 
    type="button" 
    (click)="activateMenuOptionForm()">
      Add menu option
  </button>

  <div>
    <div [ngClass]="{'fixed-pop-up-container': isInEditMenuEditOptionMode}">
      <div [ngClass]="{'pop-up-body': isInEditMenuEditOptionMode}">
        <form
          class="menu-option-form"
          *ngIf="ismenuOptionsFormActive" 
          [formGroup]="menuOptionsForm" 
          (ngSubmit)="isInEditMenuEditOptionMode ? submitmenuEditOptionsForm() : submitMenuOptionsForm(menuOptionsForm)">
    
          <div class="menu-option-form__item active">
            <label for="active">Active</label>
            <input type="checkbox" name="active" formControlName="active">
          </div>     
    
          <div class="menu-option-form__item input-option">
            <label for="key">Key</label>
            <input type="text" name="key" formControlName="key">
          </div>
    
          <div class="menu-option-form__item input-option">
            <label for="description">Description</label>
            <input type="text" name="description" formControlName="description">
          </div>
    
          <div class="menu-option-form__buttons">
            <button
              class="btn-default narrow-btn"
              type="submit" 
              [disabled]="menuOptionsForm.invalid">
                {{ isInEditMenuEditOptionMode ? 'Change' : 'Add' }}
            </button>
            <button
              class="btn-default narrow-btn"
              type="button" 
              (click)="clearMenuOptionForm()">
                Cancel
            </button>
          </div>
      </form>
      </div>
    </div>
  </div>

  <div>
    <table class="table">
      <tr>
        <th>Activity</th>
        <th>Description</th>
        <th>Key</th>
        <th></th>
      </tr>
      <tr *ngFor="let menuOption of menuOptions">
        <td>
          <label style="margin-right: 5px;">Active</label>
          <input type="checkbox" disabled [checked]="menuOption.active ? 'checked' : null">
        </td>
        <td>{{ menuOption.description }}</td>
        <td>{{ menuOption.key }}</td>
        <td>
          <button class="btn-default narrow-btn" style="margin-right: 10px; min-width: 65px;" type="button" (click)="editOption(menuOption)">Edit</button>
          <button class="btn-default narrow-btn" style="min-width: 65px;" type="button" (click)="deleteMenuOptionPopUp(menuOption)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="fixed-pop-up-container" *ngIf="isDeleteMenuOptionPopUpActive">
    <div class="pop-up-body">
      <p>Menu {{ currentOption.description }} will be deleted!</p>
      <div class="pop-up-buttons">
        <button class="btn-default narrow-btn" style="margin-right: 10px;" type="button" (click)="deleteMenuOption()">OK</button>
        <button class="btn-default narrow-btn" style="margin-right: 10px;" type="button" (click)="clearMenuOptionForm()">Cancel</button>
      </div>
    </div>
  </div>

  <ul class="error">
    <li *ngIf="erroOnGetMenuOptions">{{ erroOnGetMenuOptions }}</li>
    <li *ngIf="errorOnAddMenuOption">{{ errorOnAddMenuOption }}</li>
    <li *ngIf="errorOnDeleteMenuOption">{{ errorOnDeleteMenuOption }}</li>
    <li *ngIf="errorOnAddMenuOptionItem">{{ errorOnAddMenuOptionItem }}</li>
    <li *ngIf="erroOnEditMenuOption">{{ erroOnEditMenuOption }}</li>
  </ul>
</div>